
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{

    margin: 2px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header div{
    height: 100px;
    width: 100px;
}

header div img{
    height: 100%;
    width: 100%;
}

main{

    margin: 5px;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    
}
footer{

    margin: 5px;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h5{
    color: rgb(120, 118, 118);
}

.items{
    margin: 5px;
    height: 96%;
    width: 28%;
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 0 2px rgb(228, 224, 224);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.items h3{
    margin: 1rem;
    margin-bottom: 0.1rem;
    width: 90%;
    font-size:1.8rem;
    font-weight: 500;
}
.items label{
    margin: 0.9rem;
    margin-bottom: 0rem;
    width: 90%;
    font-weight: 700;
    font-size: 0.8rem;
}

.items div input{
    margin-top: 0;
    margin: 1rem;
    height: 70%;
    width: 90%;
    border-radius: 5px;
    border: 0.5px solid rgb(88, 86, 86);

}
.items div button{
    margin: 1rem;
    height: 70%;
    width: 90%;
    border: 8px;
    background-color: rgb(234, 173, 61);
    border-radius: 20px;
    color: black;
    border: none;
    cursor: pointer;
}

.items p{
    margin: 1rem;
    height: 5%;
    width: 90%;
    font-size: 14px;
}
.items p a{
    color: #2c92a0;
    text-decoration: underline;
}



.Dropdown h5{
    color: #2c92a0;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 0;
}
.Dropdown a{
    display: block;
    color: #2c92a0;
    cursor: pointer;
    margin: 0 1rem;
    font-size: small;
}

.Dropdown:hover{
    text-decoration: underline;
}

.Dropdown .child{
    text-decoration: none;
    display: none;
}


.Dropdown:hover .child{
    display: block;
}



#hr{
    margin: 1rem;
    width: 95%;
}
.center{
    height: 8vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h5{
    font-weight: 500;
    min-width: 350px;
    text-align: center;
    position: relative;
    margin: auto;
    color: rgb(70, 69, 69);
}
.center h5::after,
.center h5::before{
    content: "";
    height: 0.5px;
    width: 120px;
    display: block;
    background-color:  rgb(124, 121, 121);
    position: absolute;
    top: 50%;
}
.center h5::after{
   right: 0;
}
.center h5::before{
    left: 0;
}
.btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    height: 90%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(196, 194, 194);
    background-color: white;
    cursor: pointer;
}

.links{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a{
    font-size: small;
    font-weight: 200;
}
.links a:hover{
    text-decoration: underline;
}

@media  screen and  (max-width: 768px){
    .items{
        width: 60%;
    }
    .center{
        width: 60%;
    }
    .links{
        width: 60%;
    }
    
}
