@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}
body{
    background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}

/*-----------------------------nav-------------------------*/
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
    

}

/*-----------------------------dropdown btn-------------------------*/
.dropbtn {
  background-color:#e5e5e5;
  padding: 2px;
  border: none;
  cursor: pointer;
}

.dropdown{
  position: relative;
  display:inline-block;
  z-index: 2;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  max-height: 500px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color:blue;}

.show {display: block;}

/*-----------------------------nav country-------------------------*/

.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}
.nav-country h1{
    color: #fff;
    font-size: 14px;

}

/*-----------------------------nav search-------------------------*/
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}


.nav-search-gategory{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
    
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f; ;
}
/*-----------------------------nav language-------------------------*/
.nav-language{
    display: flex;
    align-items: center;
    gap:2px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}
.nav-text{
    cursor: pointer;
    margin-left: 15px;   

}
.nav-text:hover{
    border: 1px solid white;
    padding: 5px;
    
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}




/*-----------------------------nav cart-------------------------*/
.nav-cart{
    display: flex;
    align-items:center;
    margin: 0 15px;
}

/*------------------------------nav bottom--------------------------*/


.nav-bottom{
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
    
}

.nav-bottom div{
    display: flex;
    gap: 5px;
    align-items: left;
    font-weight: 500;
    
    
}
.nav-bottom div:hover{
    border: 1px solid white;
    padding:0.5px
}

/*-----------------------------header slider-------------------------*/

.header-slider ul{

display: flex;
overflow-y: hidden;
}
.header-img{
   max-width:100%;
   mask-image: linear-gradient(to bottom, #000000 50% , transparent 100%);
}

.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
   background: #ffffff4f;
   color: #0000007b;
   text-decoration: none;
   font-weight: 600;
   font-size: 18px;
   cursor: pointer;
}
.control_next{
    right: 0;
}

/*-----------------------------box row-------------------------*/
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
}

.box-column a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}
.box-column a:hover{
    color: #0c5555;
}
.header-box{
    margin-top: -20vw;
}

/*-----------------------------product slider-------------------------*/
.product-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.product-slider .products{
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-top: 10px;
}
.product-slider .products img{
    max-width: 200px;
    max-height: 200;
}
.product-slider .products::-webkit-scrollbar{
    display: none;
}
 

/*-----------------------------footer-------------------------*/
footer{
    margin-top: 15px;
}

.foot-panel{
    background-color: #37475a;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    font-size: 0.85rem;
}

/*--------------- footer panel2------*/

.foot-panel2{
    background-color: #222f3d;
    color: #fff;
    height: 500px;
    display: flex;
    justify-content: space-around;

}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin: 5px;
    color: #dddddd;
    
}
ul a:hover{
    text-decoration: underline;
}

/*----------------panel3---------------*/

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    background-size: cover;
    height: 50px;
    width: 100px;
}

/*----------------panel4---------------*/


.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
   padding-top: 60px;
   
  display: flex;
  flex-direction: column;

}

.sidenav a {
    
  padding: 8px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #1c1c1c;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
background-color: gainsboro;
}
.sidenav h3{
   
    padding: 8px 8px 8px 32px;
    font-size: large;
    display: block;
    color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


